In [36]:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns   
from collections import defaultdict
import re

os.chdir('C:/Users/Admin/Documents/GitHub/Data-Guide')

In [141]:
def convert_unix_timestamps(df, column, in_milliseconds=True):
    """
    Convert Unix timestamps in a specified column to datetime.

    Args:
        df (pd.DataFrame): The input DataFrame.
        column (str): The name of the column containing Unix timestamps.
        in_milliseconds (bool): Whether the timestamps are in milliseconds. Default is True.

    Returns:
        pd.DataFrame: The DataFrame with the converted datetime column.
    """
    try:
        factor = 1000 if in_milliseconds else 1
        coll = pd.to_datetime(df[column] / factor, unit='s', errors='coerce')
        print(f"Successfully converted {column} to datetime.")
    except Exception as e:
        coll = df[column]
        print(f"Error converting column {column}: {e}")
    return coll

In [99]:
input_dir = "C:/Users/Admin/Documents/GitHub/Data-Guide/data_pipeline/pull_jan_28" 

output_dir = "C:/Users/Admin/Documents/GitHub/Data-Guide/data_pipeline/transformed_jan_28"
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Load the data
csv_files = {
        "aged_AR" : os.path.join(input_dir, "aged_ar_report.csv"),
        "statement_submission" : os.path.join(input_dir, "statement_submission_report.csv"),
        "integrated_payments" : os.path.join(input_dir, "integrated_payments_report.csv"),
        #"billing_statement" : os.path.join(input_dir, "billing_statement_report.csv"),
        "outstanding_claims" : os.path.join(input_dir, "outstanding_claims_report.csv"),
        "unresolved_claims" : os.path.join(input_dir, "unresolved_claims_report.csv"),
        #"fee_schedule" : os.path.join(input_dir, "fee_schedule.csv"),
        #"openings" : os.path.join(input_dir,"openings.csv"),
        #"schedule" : os.path.join(input_dir,"schedule.csv"),
        "patient_list" : os.path.join(input_dir, "ZR - Patient List with Details.csv"),
        "processed_payments": os.path.join(input_dir, "ZR - Credit Card Processed Payments.csv"),
        "transaction_details" : os.path.join(input_dir, "ZR - Transaction Detail.csv"),
        "treatment_tracker" : os.path.join(input_dir, "ZR - Treatment Tracker.csv"),
    }

 # Load datasets
dataframes = {dataset: pd.read_csv(file_path) for dataset, file_path in csv_files.items()}

In [100]:
for d in dataframes.keys():
    print(d)
    print(dataframes[d].columns)
    print("\n")
    print(dataframes[d].head())
    print("\n")

aged_AR
Index(['id', 'guarantor', 'phoneNumber', 'billingStatement', 'claimsPending',
       'chargeBalance', 'suspendedCredits', 'hasInvalidHistories',
       'lastPayment.datedAs', 'lastPayment.amount', 'before30.amount',
       'before30.insurancePortion', 'before30.guarantorPortion',
       'before30.writeOff', 'before60.amount', 'before60.insurancePortion',
       'before60.guarantorPortion', 'before60.writeOff', 'before90.amount',
       'before90.insurancePortion', 'before90.guarantorPortion',
       'before90.writeOff', 'over90.amount', 'over90.insurancePortion',
       'over90.guarantorPortion', 'over90.writeOff', 'balance.amount',
       'balance.insurancePortion', 'balance.guarantorPortion',
       'balance.writeOff'],
      dtype='object')


               id             guarantor     phoneNumber  billingStatement  \
0  14000002286730        Herbert, Ken D  (847) 204-5464      1.400002e+13
1  14000003021513        Doucette, Joel  (414) 467-7414      1.400005e+13
2  14000008567895  Fitzpatrick, Caitlin  (847) 507-1188      1.400005e+13
3  14000007712809          Onyx, Sappho  (650) 384-5159      1.400005e+13
4  14000007960989        Burns, Mikaela  (708) 310-0899               NaN

   claimsPending  chargeBalance  suspendedCredits  hasInvalidHistories  \
0            NaN            0.0             -56.2                False
1            2.0          381.4               0.0                False
2            1.0          264.0               0.0                False
3            NaN           45.0               0.0                False
4            NaN          197.0               0.0                False

   lastPayment.datedAs  lastPayment.amount  ...  before90.guarantorPortion  \
0         1.686940e+12                77.4  ...                        0.0
1         1.734021e+12                85.6  ...                        0.0
2         1.732733e+12               537.0  ...                        0.0
3                  NaN                 0.0  ...                        0.0
4         1.734380e+12                 0.0  ...                        0.0

   before90.writeOff  over90.amount  over90.insurancePortion  \
0                  0            0.0                      0.0
1                  0            0.0                      0.0
2                  0            0.0                      0.0
3                  0           45.0                      0.0
4                  0            0.0                      0.0

   over90.guarantorPortion  over90.writeOff  balance.amount  \
0                      0.0                0           -56.2
1                      0.0                0           381.4
2                      0.0                0           264.0
3                     45.0                0            45.0
4                      0.0                0           197.0

   balance.insurancePortion  balance.guarantorPortion  balance.writeOff
0                       0.0                     -56.2               0.0
1                     288.4                       0.0              93.0
2                       0.0                     264.0               0.0
3                       0.0                      45.0               0.0
4                     197.0                       0.0               0.0

[5 rows x 30 columns]


statement_submission
Index(['id', 'dateTime', 'statementType', 'generatedFrom', 'balance',
       'patient.id', 'patient.firstName', 'patient.lastName', 'source'],
      dtype='object')


               id       dateTime statementType         generatedFrom  balance  \
0  14000000000286  1738098464070     GUARANTOR  INDIVIDUAL_STATEMENT     86.0
1  14000000000286  1738098432140     GUARANTOR  INDIVIDUAL_STATEMENT     94.0
2  14000000000286  1738095351170     GUARANTOR  INDIVIDUAL_STATEMENT     86.0
3  14000000000286  1738095318490       PATIENT  INDIVIDUAL_STATEMENT     45.6
4  14000000000286  1738022440220       PATIENT  INDIVIDUAL_STATEMENT     19.2

       patient.id patient.firstName patient.lastName      source
0  14000007708434              Kurt           Kaylor  ELECTRONIC
1  14000002286499             Julie         Lockwood  ELECTRONIC
2  14000002931457           Melissa            Iwami  ELECTRONIC
3  14000007563050            Kelsey       Schagemann  ELECTRONIC
4  14000007244763           Matthew          Spisich  ELECTRONIC


integrated_payments
Index(['id', 'transactionDateTime', 'transactionCardholderName',
       'transactionId', 'transactionSource', 'transactionReferenceNumber',
       'ledgerType', 'transactionAmount', 'transactionCardLogo'],
      dtype='object')


               id  transactionDateTime   transactionCardholderName  \
0  14000059563439        1738100073993            MAZARIEGOS/DAVIS
1  14000059566743        1738099006000                      seth B
2  14000059566745        1738098817000                      Kurt K
3  14000059558724        1738098646990  NELSON/DAVID C
4  14000059554657        1738097446620             GARRITY/PATRICK

   transactionId transactionSource  \
0     1249350830          TERMINAL
1     1249166446            ONLINE
2     1249133868            ONLINE
3     1249106703          TERMINAL
4     1248896607          TERMINAL

                          transactionReferenceNumber           ledgerType  \
0  Mazariegos Davis efeda813a3a64eee9d5ba6cb29949ed7  CREDIT_CARD_PAYMENT
1                                 d5befb54e5e44a2aaa  CREDIT_CARD_PAYMENT
2                                 5b55f00af9814aaba6  CREDIT_CARD_PAYMENT
3      Nelson David 2fc5768b39214beb9c981a74f6145246  CREDIT_CARD_PAYMENT
4   Garrity Patrick f443b87c19194664b2d32929f7dd82db  CREDIT_CARD_PAYMENT

   transactionAmount  transactionCardLogo
0               80.4       14000000000234
1               89.0       14000000000234
2               86.0       14000000000255
3               64.8       14000000000255
4                6.0       14000000000234


outstanding_claims
Index(['id', 'createdDate', 'subscriberNumber', 'aging', 'balance', 'estimate',
       'serviceDate', 'insuranceCarrier.name', 'insuranceCarrier.phoneNumber',
       'insuranceCarrier.phoneExtension', 'insuranceCarrier.website',
       'groupPlan.name', 'groupPlan.phoneNumber', 'groupPlan.phoneExtension',
       'subscriber.id', 'subscriber.firstName', 'subscriber.lastName',
       'subscriber.dateOfBirth', 'patient.id', 'patient.firstName',
       'patient.lastName', 'patient.dateOfBirth'],
      dtype='object')


               id    createdDate subscriberNumber   aging  balance  estimate  \
0  14000006720650  1738068627609       W265906177  0 - 15    404.0     144.2
1  14000006719469  1738022919810       W244755728  0 - 15    404.0     232.0
2  14000006719226  1738021121557       W292785079  0 - 15    218.0     218.0
3  14000006719031  1738020373743      08069559149  0 - 15    355.0     120.8
4  14000006718215  1738017915724        826597160  0 - 15    704.0     289.2

     serviceDate               insuranceCarrier.name  \
0  1736529226013                               Aetna
1  1738019207197                               Aetna
2  1738020983650                               Aetna
3  1738020378753            Delta Dental of Illinois
4  1738017907690  Blue Cross Blue Shield of Illinois

   insuranceCarrier.phoneNumber  insuranceCarrier.phoneExtension  ...  \
0                           NaN                              NaN  ...
1                           NaN                              NaN  ...
2                           NaN                              NaN  ...
3                  8.553358e+09                              NaN  ...
4                  8.003676e+09                              NaN  ...

   groupPlan.phoneNumber groupPlan.phoneExtension   subscriber.id  \
0           8.004518e+09                      NaN  14000006151648
1                    NaN                      NaN  14000007708353
2                    NaN                      NaN  14000007275117
3                    NaN                      NaN  14000007133433
4                    NaN                      NaN  14000008736923

   subscriber.firstName  subscriber.lastName subscriber.dateOfBirth  \
0              Krystyna             Ferretti           613180800000
1              Victoria             Kulhanek           709430400000
2                Warren           Ciabattoni           466819200000
3                Daniel              Zimbler           450489600000
4                Andrew               Morris           520387200000

       patient.id  patient.firstName  patient.lastName patient.dateOfBirth
0  14000006602177               Alex          Ferretti        616636800000
1  14000007708353           Victoria          Kulhanek        709430400000
2  14000007275128            Johanna           Johnson        547862400000
3  14000007133433             Daniel           Zimbler        450489600000
4  14000008736923             Andrew            Morris        520387200000

[5 rows x 22 columns]


unresolved_claims
Index(['claimId', 'carrierName', 'carrierId', 'totalAmount', 'patientName',
       'patientId', 'claimFollowupAction', 'claimStateId',
       'carrierInsurancePlan.id', 'carrierInsurancePlan.insuranceCarrier.id'],
      dtype='object')


          claimId                       carrierName       carrierId  \
0  14000006589471      Ameritas Life Insurance Corp  14000000012070
1  14000006583959      Ameritas Life Insurance Corp  14000000012070
2  14000006566185  Principal Life Insurance Company  14000000012059
3  14000006556318      Ameritas Life Insurance Corp  14000000012070
4  14000006548842     Delta Dental of Massachusetts  14000000028790

   totalAmount             patientName  patientId claimFollowupAction  \
0        660.0  Kumiko Medrano Teshima        NaN     CONTACT_CARRIER
1        620.0           Diego Medrano        NaN     CONTACT_CARRIER
2        284.0               John Wall        NaN     CONTACT_CARRIER
3        474.0  Kumiko Medrano Teshima        NaN     CONTACT_CARRIER
4        118.0     Caroline Kovalevich        NaN     CONTACT_CARRIER

   claimStateId  carrierInsurancePlan.id  \
0             8           14000000673193
1             8           14000000673193
2             8           14000000664700
3             8           14000000673193
4             8           14000000663985

   carrierInsurancePlan.insuranceCarrier.id
0                            14000000012070
1                            14000000012070
2                            14000000012059
3                            14000000012070
4                            14000000028790


patient_list
Index(['Patient', 'Primary Guarantor', 'Primary Contact', 'Last Name',
       'Chart Number', 'Ascend Patient ID', 'Date Of Birth', 'Phone', 'Email',
       'Address', 'Unnamed: 10', 'Status', 'First Visit', 'Last Visit',
       'Last Procedure Date', 'Next Appointment Date', 'Discount Plan',
       'Pat. Prim. Fee Schedule', 'Pat. Prim. Carrier', 'Pat. Prim. Plan',
       'Prim. Subscriber ID'],
      dtype='object')


               Patient    Primary Guarantor      Primary Contact   Last Name  \
0     Abelmann, Anders     Abelmann, Anders     Abelmann, Anders    Abelmann
1         Aberle, Kyle         Aberle, Kyle         Aberle, Kyle      Aberle
2      Abrahms, Rhonda      Abrahms, Rhonda      Abrahms, Rhonda     Abrahms
3  Abramowitz, Rebecca  Abramowitz, Rebecca  Abramowitz, Rebecca  Abramowitz
4          Abud, Kevin          Abud, Kevin          Abud, Kevin        Abud

  Chart Number  Ascend Patient ID Date Of Birth           Phone  \
0          NaN     14000007592477    06/18/1980  (312) 804-6686
1          NaN     14000008693320    07/12/1985  (309) 838-0212
2          NaN     14000006720773    09/03/1956             NaN
3      RA5143S     14000002734466    04/11/1981  (786) 975-7455
4      KA5164K     14000006871467    04/14/1975  (312) 848-4142

                          Email  \
0     anders.abelmann@gmail.com
1         kyle.aberle@gmail.com
2                           NaN
3  rebecca_abramowitz@yahoo.com
4           kevinabud@gmail.com

                                           Address  ...      Status  \
0          2104 W Balmoral Ave, Chicago, IL, 60625  ...      ACTIVE
1            1708 W Carmen Ave, Chicago, IL, 60640  ...      ACTIVE
2                            none, none, IL, 60640  ...  NONPATIENT
3  4555 N Ravenswood, Unit 204, Chicago, IL, 60640  ...      ACTIVE
4            3042 W Wilson Ave, Chicago, IL, 60625  ...      ACTIVE

  First Visit  Last Visit Last Procedure Date Next Appointment Date  \
0  06/27/2024  07/26/2024          07/26/2024            01/31/2025
1  12/09/2024  01/10/2025          01/10/2025            05/09/2025
2         NaN         NaN                 NaN                   NaN
3  03/24/2022  11/25/2024          12/18/2023                   NaN
4  02/21/2023  11/04/2024          11/04/2024            04/22/2025

  Discount Plan                     Pat. Prim. Fee Schedule  \
0           NaN                                         NaN
1           NaN  685806 - Careington Care Platinum PPO 2025
2           NaN                                         NaN
3           NaN  685806 - Careington Care Platinum PPO 2025
4           NaN               685806 - Delta Dental Premier

                   Pat. Prim. Carrier         Pat. Prim. Plan  \
0                                 NaN                     NaN
1  Blue Cross Blue Shield of Illinois  ARTICLE STUDENT LIVING
2                                 NaN                     NaN
3  Blue Cross Blue Shield of Illinois          TEMPUS AI, INC
4          Delta Dental of California         Salesforce- DCS

  Prim. Subscriber ID
0                 NaN
1           833862665
2                 NaN
3           835813131
4        123688753001

[5 rows x 21 columns]


processed_payments
Index(['Ascend Patient ID', 'Patient', 'Date (Modified)', 'Card Holder',
       'Card Type', 'Transaction ID', 'Card Source', 'Reference Number',
       'Transaction Type', 'Amount'],
      dtype='object')


   Ascend Patient ID            Patient Date (Modified)    Card Holder  \
0     14000002286402  Intagliata, Emily      11/01/2022  Not Available
1     14000002286402  Intagliata, Emily      11/01/2022  Not Available
2     14000002286402  Intagliata, Emily      11/22/2022  Not Available
3     14000002286402  Intagliata, Emily      08/03/2023  Not Available
4     14000002286402  Intagliata, Emily      08/24/2023  FRAZIER/RYAN

       Card Type Transaction ID    Card Source  \
0  Not Available  Not Available  Not Available
1  Not Available  Not Available  Not Available
2  Not Available  Not Available  Not Available
3  Not Available  Not Available  Not Available
4           Visa      806903798       Terminal

                                    Reference Number  \
0                         Not Available: spaces etc.
1                         Not Available: spaces etc.
2                                             ML9731
3                         Not Available: spaces etc.
4  Intagliata Emily c43ca2d9d3ab46898fea8c6f1f565610

                 Transaction Type    Amount
0                   Not Available   $364.00
1            Insurance Adjustment  -$132.00
2  Insurance Payment - Electronic  -$232.00
3         Initial Balance Forward  -$113.00
4             Credit Card Payment    -$3.50


transaction_details
Index(['Date', 'Patient', 'Ascend Patient ID', 'Chart Number', 'Category',
       'Proc. Code', 'Proc. Description', 'Proc Treatment Area', 'Charges',
       'Credits'],
      dtype='object')


         Date              Patient  Ascend Patient ID   Chart Number  \
0  10/27/2019        Gabriel, Rami     14000002286456  Not Available
1  06/21/2020       Barrios, James     14000002286515  Not Available
2  10/08/2020      Greene, David E     14000002286843  Not Available
3  10/08/2020         Koenig, Cody     14000002286781        CK5152H
4  10/20/2020  Reiman, Stephanie M     14000002286454  Not Available

             Category                  Proc. Code           Proc. Description  \
0  Charge Adjustments  Not Available: spaces etc.  Not Available: spaces etc.
1  Charge Adjustments  Not Available: spaces etc.  Not Available: spaces etc.
2  Charge Adjustments  Not Available: spaces etc.  Not Available: spaces etc.
3  Charge Adjustments  Not Available: spaces etc.  Not Available: spaces etc.
4  Charge Adjustments  Not Available: spaces etc.  Not Available: spaces etc.

  Proc Treatment Area Charges Credits
0                 NaN   $0.00       -
1                 NaN  $47.20       -
2                 NaN   $0.00       -
3                 NaN   $0.00       -
4                 NaN   $0.00       -


treatment_tracker
Index(['Ascend Patient ID', 'Patient', 'Pat. Prim. Carrier', 'Date',
       'Proc. Code', 'Proc. Description', 'Current Status',
       'Amount Presented'],
      dtype='object')


   Ascend Patient ID               Patient Pat. Prim. Carrier        Date  \
0     14000002286403         Frazier, Ryan            MetLife  2021-10-04
1     14000002286404  Bowen-hannan, Bonnie               GEHA  2021-09-29
2     14000002286404  Bowen-hannan, Bonnie               GEHA  2022-04-19
3     14000002286404  Bowen-hannan, Bonnie               GEHA  2022-04-19
4     14000002286404  Bowen-hannan, Bonnie               GEHA  2022-04-19

  Proc. Code                                  Proc. Description  \
0      D2394                      Posterior Resin Composite 4+s
1      D4910                            Periodontal Maintenance
2      D2750                                Porcelain/HNM Crown
3      D2750                                Porcelain/HNM Crown
4      D5214  Mandibular partial denture - cast metal framew...

  Current Status Amount Presented
0      Cancelled          $319.00
1         Active           $86.00
2      Cancelled        $1,527.00
3    Invalidated        $1,527.00
4      Cancelled        $2,458.00

In [101]:
dataframes['aged_AR']['Ascend Patient ID'] = dataframes['aged_AR']['id']
dataframes['outstanding_claims']['Ascend Patient ID'] = dataframes['outstanding_claims']['patient.id']
dataframes['statement_submission']['Ascend Patient ID'] = dataframes['statement_submission']['patient.id']


for key in dataframes:
    if key not in ['integrated_payments', 'unresolved_claims', 'processed_payments']:
        print(key)
        print(dataframes[key]['Ascend Patient ID'].head())
        df_rows = dataframes[key]['Ascend Patient ID'].apply(lambda x: str(x).isnumeric() and 'Total' not in str(x))
        print(df_rows.head())
        dataframes[key] = dataframes[key].loc[df_rows, :]
        print(dataframes[key].head())
        dataframes[key]['merge_key'] = dataframes[key]['Ascend Patient ID'].astype('Int64').astype(str)

aged_AR
0    14000002286730
1    14000003021513
2    14000008567895
3    14000007712809
4    14000007960989
Name: Ascend Patient ID, dtype: int64
0    True
1    True
2    True
3    True
4    True
Name: Ascend Patient ID, dtype: bool
               id             guarantor     phoneNumber  billingStatement  \
0  14000002286730        Herbert, Ken D  (847) 204-5464      1.400002e+13
1  14000003021513        Doucette, Joel  (414) 467-7414      1.400005e+13
2  14000008567895  Fitzpatrick, Caitlin  (847) 507-1188      1.400005e+13
3  14000007712809          Onyx, Sappho  (650) 384-5159      1.400005e+13
4  14000007960989        Burns, Mikaela  (708) 310-0899               NaN

   claimsPending  chargeBalance  suspendedCredits  hasInvalidHistories  \
0            NaN            0.0             -56.2                False
1            2.0          381.4               0.0                False
2            1.0          264.0               0.0                False
3            NaN           45.0               0.0                False
4            NaN          197.0               0.0                False

   lastPayment.datedAs  lastPayment.amount  ...  before90.writeOff  \
0         1.686940e+12                77.4  ...                  0
1         1.734021e+12                85.6  ...                  0
2         1.732733e+12               537.0  ...                  0
3                  NaN                 0.0  ...                  0
4         1.734380e+12                 0.0  ...                  0

   over90.amount  over90.insurancePortion  over90.guarantorPortion  \
0            0.0                      0.0                      0.0
1            0.0                      0.0                      0.0
2            0.0                      0.0                      0.0
3           45.0                      0.0                     45.0
4            0.0                      0.0                      0.0

   over90.writeOff  balance.amount  balance.insurancePortion  \
0                0           -56.2                       0.0
1                0           381.4                     288.4
2                0           264.0                       0.0
3                0            45.0                       0.0
4                0           197.0                     197.0

   balance.guarantorPortion  balance.writeOff  Ascend Patient ID
0                     -56.2               0.0     14000002286730
1                       0.0              93.0     14000003021513
2                     264.0               0.0     14000008567895
3                      45.0               0.0     14000007712809
4                       0.0               0.0     14000007960989

[5 rows x 31 columns]
statement_submission
0    14000007708434
1    14000002286499
2    14000002931457
3    14000007563050
4    14000007244763
Name: Ascend Patient ID, dtype: int64
0    True
1    True
2    True
3    True
4    True
Name: Ascend Patient ID, dtype: bool
               id       dateTime statementType         generatedFrom  balance  \
0  14000000000286  1738098464070     GUARANTOR  INDIVIDUAL_STATEMENT     86.0
1  14000000000286  1738098432140     GUARANTOR  INDIVIDUAL_STATEMENT     94.0
2  14000000000286  1738095351170     GUARANTOR  INDIVIDUAL_STATEMENT     86.0
3  14000000000286  1738095318490       PATIENT  INDIVIDUAL_STATEMENT     45.6
4  14000000000286  1738022440220       PATIENT  INDIVIDUAL_STATEMENT     19.2

       patient.id patient.firstName patient.lastName      source  \
0  14000007708434              Kurt           Kaylor  ELECTRONIC
1  14000002286499             Julie         Lockwood  ELECTRONIC
2  14000002931457           Melissa            Iwami  ELECTRONIC
3  14000007563050            Kelsey       Schagemann  ELECTRONIC
4  14000007244763           Matthew          Spisich  ELECTRONIC

   Ascend Patient ID
0     14000007708434
1     14000002286499
2     14000002931457
3     14000007563050
4     14000007244763
outstanding_claims
0    14000006602177
1    14000007708353
2    14000007275128
3    14000007133433
4    14000008736923
Name: Ascend Patient ID, dtype: int64
0    True
1    True
2    True
3    True
4    True
Name: Ascend Patient ID, dtype: bool
               id    createdDate subscriberNumber   aging  balance  estimate  \
0  14000006720650  1738068627609       W265906177  0 - 15    404.0     144.2
1  14000006719469  1738022919810       W244755728  0 - 15    404.0     232.0
2  14000006719226  1738021121557       W292785079  0 - 15    218.0     218.0
3  14000006719031  1738020373743      08069559149  0 - 15    355.0     120.8
4  14000006718215  1738017915724        826597160  0 - 15    704.0     289.2

     serviceDate               insuranceCarrier.name  \
0  1736529226013                               Aetna
1  1738019207197                               Aetna
2  1738020983650                               Aetna
3  1738020378753            Delta Dental of Illinois
4  1738017907690  Blue Cross Blue Shield of Illinois

   insuranceCarrier.phoneNumber  insuranceCarrier.phoneExtension  ...  \
0                           NaN                              NaN  ...
1                           NaN                              NaN  ...
2                           NaN                              NaN  ...
3                  8.553358e+09                              NaN  ...
4                  8.003676e+09                              NaN  ...

   groupPlan.phoneExtension   subscriber.id  subscriber.firstName  \
0                       NaN  14000006151648              Krystyna
1                       NaN  14000007708353              Victoria
2                       NaN  14000007275117                Warren
3                       NaN  14000007133433                Daniel
4                       NaN  14000008736923                Andrew

   subscriber.lastName  subscriber.dateOfBirth      patient.id  \
0             Ferretti            613180800000  14000006602177
1             Kulhanek            709430400000  14000007708353
2           Ciabattoni            466819200000  14000007275128
3              Zimbler            450489600000  14000007133433
4               Morris            520387200000  14000008736923

  patient.firstName  patient.lastName  patient.dateOfBirth Ascend Patient ID
0              Alex          Ferretti         616636800000    14000006602177
1          Victoria          Kulhanek         709430400000    14000007708353
2           Johanna           Johnson         547862400000    14000007275128
3            Daniel           Zimbler         450489600000    14000007133433
4            Andrew            Morris         520387200000    14000008736923

[5 rows x 23 columns]
patient_list
0    14000007592477
1    14000008693320
2    14000006720773
3    14000002734466
4    14000006871467
Name: Ascend Patient ID, dtype: int64
0    True
1    True
2    True
3    True
4    True
Name: Ascend Patient ID, dtype: bool
               Patient    Primary Guarantor      Primary Contact   Last Name  \
0     Abelmann, Anders     Abelmann, Anders     Abelmann, Anders    Abelmann
1         Aberle, Kyle         Aberle, Kyle         Aberle, Kyle      Aberle
2      Abrahms, Rhonda      Abrahms, Rhonda      Abrahms, Rhonda     Abrahms
3  Abramowitz, Rebecca  Abramowitz, Rebecca  Abramowitz, Rebecca  Abramowitz
4          Abud, Kevin          Abud, Kevin          Abud, Kevin        Abud

  Chart Number  Ascend Patient ID Date Of Birth           Phone  \
0          NaN     14000007592477    06/18/1980  (312) 804-6686
1          NaN     14000008693320    07/12/1985  (309) 838-0212
2          NaN     14000006720773    09/03/1956             NaN
3      RA5143S     14000002734466    04/11/1981  (786) 975-7455
4      KA5164K     14000006871467    04/14/1975  (312) 848-4142

                          Email  \
0     anders.abelmann@gmail.com
1         kyle.aberle@gmail.com
2                           NaN
3  rebecca_abramowitz@yahoo.com
4           kevinabud@gmail.com

                                           Address  ...      Status  \
0          2104 W Balmoral Ave, Chicago, IL, 60625  ...      ACTIVE
1            1708 W Carmen Ave, Chicago, IL, 60640  ...      ACTIVE
2                            none, none, IL, 60640  ...  NONPATIENT
3  4555 N Ravenswood, Unit 204, Chicago, IL, 60640  ...      ACTIVE
4            3042 W Wilson Ave, Chicago, IL, 60625  ...      ACTIVE

  First Visit  Last Visit Last Procedure Date Next Appointment Date  \
0  06/27/2024  07/26/2024          07/26/2024            01/31/2025
1  12/09/2024  01/10/2025          01/10/2025            05/09/2025
2         NaN         NaN                 NaN                   NaN
3  03/24/2022  11/25/2024          12/18/2023                   NaN
4  02/21/2023  11/04/2024          11/04/2024            04/22/2025

  Discount Plan                     Pat. Prim. Fee Schedule  \
0           NaN                                         NaN
1           NaN  685806 - Careington Care Platinum PPO 2025
2           NaN                                         NaN
3           NaN  685806 - Careington Care Platinum PPO 2025
4           NaN               685806 - Delta Dental Premier

                   Pat. Prim. Carrier         Pat. Prim. Plan  \
0                                 NaN                     NaN
1  Blue Cross Blue Shield of Illinois  ARTICLE STUDENT LIVING
2                                 NaN                     NaN
3  Blue Cross Blue Shield of Illinois          TEMPUS AI, INC
4          Delta Dental of California         Salesforce- DCS

  Prim. Subscriber ID
0                 NaN
1           833862665
2                 NaN
3           835813131
4        123688753001

[5 rows x 21 columns]
transaction_details
0    14000002286456
1    14000002286515
2    14000002286843
3    14000002286781
4    14000002286454
Name: Ascend Patient ID, dtype: int64
0    True
1    True
2    True
3    True
4    True
Name: Ascend Patient ID, dtype: bool
         Date              Patient  Ascend Patient ID   Chart Number  \
0  10/27/2019        Gabriel, Rami     14000002286456  Not Available
1  06/21/2020       Barrios, James     14000002286515  Not Available
2  10/08/2020      Greene, David E     14000002286843  Not Available
3  10/08/2020         Koenig, Cody     14000002286781        CK5152H
4  10/20/2020  Reiman, Stephanie M     14000002286454  Not Available

             Category                  Proc. Code           Proc. Description  \
0  Charge Adjustments  Not Available: spaces etc.  Not Available: spaces etc.
1  Charge Adjustments  Not Available: spaces etc.  Not Available: spaces etc.
2  Charge Adjustments  Not Available: spaces etc.  Not Available: spaces etc.
3  Charge Adjustments  Not Available: spaces etc.  Not Available: spaces etc.
4  Charge Adjustments  Not Available: spaces etc.  Not Available: spaces etc.

  Proc Treatment Area Charges Credits
0                 NaN   $0.00       -
1                 NaN  $47.20       -
2                 NaN   $0.00       -
3                 NaN   $0.00       -
4                 NaN   $0.00       -
treatment_tracker
0    14000002286403
1    14000002286404
2    14000002286404
3    14000002286404
4    14000002286404
Name: Ascend Patient ID, dtype: int64
0    True
1    True
2    True
3    True
4    True
Name: Ascend Patient ID, dtype: bool
   Ascend Patient ID               Patient Pat. Prim. Carrier        Date  \
0     14000002286403         Frazier, Ryan            MetLife  2021-10-04
1     14000002286404  Bowen-hannan, Bonnie               GEHA  2021-09-29
2     14000002286404  Bowen-hannan, Bonnie               GEHA  2022-04-19
3     14000002286404  Bowen-hannan, Bonnie               GEHA  2022-04-19
4     14000002286404  Bowen-hannan, Bonnie               GEHA  2022-04-19

  Proc. Code                                  Proc. Description  \
0      D2394                      Posterior Resin Composite 4+s
1      D4910                            Periodontal Maintenance
2      D2750                                Porcelain/HNM Crown
3      D2750                                Porcelain/HNM Crown
4      D5214  Mandibular partial denture - cast metal framew...

  Current Status Amount Presented
0      Cancelled          $319.00
1         Active           $86.00
2      Cancelled        $1,527.00
3    Invalidated        $1,527.00
4      Cancelled        $2,458.00

In [72]:
# Merge the data
dataframes
merged_df = dataframes['patient_list'].copy()
for key in dataframes:
        if key in ['statement_submission', 'aged_AR']:
                print(key)
                merged_df = merged_df.merge(dataframes[key], on='Ascend Patient ID', how='left')

aged_AR
statement_submission

In [44]:
merged_df.to_csv(f"{output_dir}/merged_data.csv", index=False)

# Transform the Data

In [102]:
transformed_data = defaultdict(pd.DataFrame)

Transformations for Aged AR:<br>
    - ~~Flag for "remaining guarantor portion"~~<br>
    - ~~Total amount and distributions based on bucket - overlaid or grouped~~<br>
	- Wide-to-long<br>
	- - Aging bucket, responsible party, amount<br>

## Row sums

In [103]:
df_t = dataframes['aged_AR'].copy()

df_t['total_guarantorPortion'] = df_t.loc[:, ['before30.guarantorPortion', 'before60.guarantorPortion', 'before90.guarantorPortion', 'over90.guarantorPortion']].sum(axis=1)
df_t['remaining_guarantorPortion'] = df_t['total_guarantorPortion'] > 0

df_t['total_insurancePortion'] = df_t.loc[:, ['before30.insurancePortion', 'before60.insurancePortion', 'before90.insurancePortion', 'over90.insurancePortion']].sum(axis=1)
df_t['remaining_insurancePortion'] = df_t['total_insurancePortion'] > 0

## Wide to Long

In [104]:
df_t
df_long = df_t.melt(id_vars=['id', 'Ascend Patient ID'], 
                    value_vars=['before30.amount', 'before60.amount', 'before90.amount', 'over90.amount',
                                'before30.guarantorPortion', 'before60.guarantorPortion', 'before90.guarantorPortion', 'over90.guarantorPortion',
                                'before30.insurancePortion', 'before60.insurancePortion', 'before90.insurancePortion', 'over90.insurancePortion'], 
                    var_name='Aging Bucket', 
                    value_name='Amount')

df_long[['Bucket', 'Responsible Party']] = df_long['Aging Bucket'].str.split('.', expand=True)
df_long['Responsible Party'] = df_long['Responsible Party'].str.replace('amount', 'Total').str.replace('guarantorPortion', 'Guarantor').str.replace('insurancePortion', 'Insurance')
df_long['Bucket'] = df_long['Bucket'].str.replace('before30', '0-30').str.replace('before60', '0-60').str.replace('before90', '0-90').str.replace('over90', '91+')

df_long = df_long.drop(columns=['Aging Bucket'])

print(df_long.head())

               id  Ascend Patient ID  Amount Bucket Responsible Party
0  14000002286730     14000002286730     0.0   0-30             Total
1  14000003021513     14000003021513   381.4   0-30             Total
2  14000008567895     14000008567895   264.0   0-30             Total
3  14000007712809     14000007712809     0.0   0-30             Total
4  14000007960989     14000007960989   197.0   0-30             Total

In [105]:
transformed_data['aged_AR'] = df_t.copy()
transformed_data['aged_AR'].to_csv(f"{output_dir}/transformed_aged_AR.csv", index=False)

transformed_data['aged_AR_long'] = df_long.copy()
transformed_data['aged_AR_long'].to_csv(f"{output_dir}/transformed_aged_AR_long.csv", index=False)

Transformations for Integrated Payments <br>
    - ~~Parse transactionCardholderName to pull "discover", "visa", etc~~ <br>
    - ~~Check "ZZ" for transactionCardholderName~~ <br>
    - ~~Amount over time~~ <br>
    - ~~Pair and remove refunds and voids~~ <br>

## Rolling Sums

In [138]:
df_t = dataframes['integrated_payments'].copy()

df_t.head()

,id,transactionDateTime,transactionCardholderName,transactionId,transactionSource,transactionReferenceNumber,ledgerType,transactionAmount,transactionCardLogo
0,14000059563439,1738100073993,MAZARIEGOS/DAVIS,1249350830,TERMINAL,Mazariegos Davis efeda813a3a64eee9d5ba6cb29949ed7,CREDIT_CARD_PAYMENT,80.4,14000000000234
1,14000059566743,1738099006000,seth B,1249166446,ONLINE,d5befb54e5e44a2aaa,CREDIT_CARD_PAYMENT,89.0,14000000000234
2,14000059566745,1738098817000,Kurt K,1249133868,ONLINE,5b55f00af9814aaba6,CREDIT_CARD_PAYMENT,86.0,14000000000255
3,14000059558724,1738098646990,NELSON/DAVID C,1249106703,TERMINAL,Nelson David 2fc5768b39214beb9c981a74f6145246,CREDIT_CARD_PAYMENT,64.8,14000000000255
4,14000059554657,1738097446620,GARRITY/PATRICK,1248896607,TERMINAL,Garrity Patrick f443b87c19194664b2d32929f7dd82db,CREDIT_CARD_PAYMENT,6.0,14000000000234

In [143]:

# Rolling Sum

# Ensure the transactionDateTime column is in datetime format
df_t['transactionDateTime'] = convert_unix_timestamps(df_t,'transactionDateTime')

# Set the transactionDateTime as the index
df_t.set_index('transactionDateTime', inplace=True)

# Calculate the rolling sum and count of transactions week-over-week
df_t['rolling_sum'] = df_t['transactionAmount'].rolling('7D').sum()
df_t['transaction_count'] = df_t['transactionAmount'].rolling('7D').count()

df_t['event'] = df_t['ledgerType'].str.replace('CREDIT_CARD_', '').str.lower()

# Reset the index
df_t.reset_index(inplace=True)

print(df_t[['transactionDateTime', 'transactionAmount', 'ledgerType', 'event', 'rolling_sum', 'transaction_count']].head(20))

Successfully converted transactionDateTime to datetime.
             transactionDateTime  transactionAmount           ledgerType  \
0  2025-01-28 21:34:33.992999936              80.40  CREDIT_CARD_PAYMENT
1  2025-01-28 21:16:46.000000000              89.00  CREDIT_CARD_PAYMENT
2  2025-01-28 21:13:37.000000000              86.00  CREDIT_CARD_PAYMENT
3  2025-01-28 21:10:46.990000128              64.80  CREDIT_CARD_PAYMENT
4  2025-01-28 20:50:46.620000000               6.00  CREDIT_CARD_PAYMENT
5  2025-01-28 18:29:21.433000192              86.00  CREDIT_CARD_PAYMENT
6  2025-01-27 23:26:39.496000000              80.20  CREDIT_CARD_PAYMENT
7  2025-01-27 22:45:28.563000064             177.80  CREDIT_CARD_PAYMENT
8  2025-01-27 22:29:17.956000000             382.61  CREDIT_CARD_PAYMENT
9  2025-01-27 22:28:41.963000064             294.39  CREDIT_CARD_PAYMENT
10 2025-01-27 22:25:38.256000000              20.00  CREDIT_CARD_PAYMENT
11 2025-01-27 22:23:42.132999936              20.00  CREDIT_CARD_PAYMENT
12 2025-01-27 19:05:54.165999872              59.50  CREDIT_CARD_PAYMENT
13 2025-01-27 16:56:16.122999808             209.60  CREDIT_CARD_PAYMENT
14 2025-01-27 16:33:37.000000000              99.20  CREDIT_CARD_PAYMENT
15 2025-01-27 16:18:34.976000000             245.40  CREDIT_CARD_PAYMENT
16 2025-01-25 00:03:49.000000000              58.00  CREDIT_CARD_PAYMENT
17 2025-01-24 21:38:14.696000000             123.00  CREDIT_CARD_PAYMENT
18 2025-01-24 20:39:31.303000064             300.05  CREDIT_CARD_PAYMENT
19 2025-01-24 17:33:52.336000000              11.80  CREDIT_CARD_PAYMENT

      event  rolling_sum  transaction_count
0   payment        80.40                1.0
1   payment       169.40                2.0
2   payment       255.40                3.0
3   payment       320.20                4.0
4   payment       326.20                5.0
5   payment       412.20                6.0
6   payment       492.40                7.0
7   payment       670.20                8.0
8   payment      1052.81                9.0
9   payment      1347.20               10.0
10  payment      1367.20               11.0
11  payment      1387.20               12.0
12  payment      1446.70               13.0
13  payment      1656.30               14.0
14  payment      1755.50               15.0
15  payment      2000.90               16.0
16  payment      2058.90               17.0
17  payment      2181.90               18.0
18  payment      2481.95               19.0
19  payment      2493.75               20.0

## Substring extraction

In [144]:
# Extract card type from transactionCardholderName
df_t['Card Type'] = df_t['transactionCardholderName'].str.extract(
    '(visa|discover|mc|mastercard|amex|americanexpress)', 
    flags=re.IGNORECASE, 
    expand=False
).str.lower()

# Fill missing values with 'unknown'
df_t['Card Type'] = df_t['Card Type'].fillna('unknown')

print(df_t.head(20))

             transactionDateTime              id   transactionCardholderName  \
0  2025-01-28 21:34:33.992999936  14000059563439            MAZARIEGOS/DAVIS
1  2025-01-28 21:16:46.000000000  14000059566743                      seth B
2  2025-01-28 21:13:37.000000000  14000059566745                      Kurt K
3  2025-01-28 21:10:46.990000128  14000059558724  NELSON/DAVID C
4  2025-01-28 20:50:46.620000000  14000059554657             GARRITY/PATRICK
5  2025-01-28 18:29:21.433000192  14000059527505                         NaN
6  2025-01-27 23:26:39.496000000  14000059468254             CARDHOLDER/VISA
7  2025-01-27 22:45:28.563000064  14000059463874             MORRIS/ANDREW B
8  2025-01-27 22:29:17.956000000  14000059461411             CARDHOLDER/VISA
9  2025-01-27 22:28:41.963000064  14000059461310             CARDHOLDER/VISA
10 2025-01-27 22:25:38.256000000  14000059460750                         NaN
11 2025-01-27 22:23:42.132999936  14000059460465                         NaN
12 2025-01-27 19:05:54.165999872  14000059424851             CARDHOLDER/VISA
13 2025-01-27 16:56:16.122999808  14000059403337             CARDHOLDER/VISA
14 2025-01-27 16:33:37.000000000  14000059415624                 Alejandra d
15 2025-01-27 16:18:34.976000000  14000059396467              BROTZMAN/DYLAN
16 2025-01-25 00:03:49.000000000  14000059364216                 Corby-Lyn S
17 2025-01-24 21:38:14.696000000  14000059339190             CARDHOLDER/VISA
18 2025-01-24 20:39:31.303000064  14000059334657                         NaN
19 2025-01-24 17:33:52.336000000  14000059478969             FERRETTI/ALEX J

    transactionId transactionSource  \
0      1249350830          TERMINAL
1      1249166446            ONLINE
2      1249133868            ONLINE
3      1249106703          TERMINAL
4      1248896607          TERMINAL
5      1247414596          TERMINAL
6      1241971641          TERMINAL
7      1241612259          TERMINAL
8      1241459238          TERMINAL
9      1241453933          TERMINAL
10     1241426393          TERMINAL
11     1241408434          TERMINAL
12     1239436553          TERMINAL
13     1238117517          TERMINAL
14     1237927355            ONLINE
15     1237811302          TERMINAL
16     1213966443            ONLINE
17     1212221373          TERMINAL
18     1211533811          TERMINAL
19     1209382112          TERMINAL

                           transactionReferenceNumber           ledgerType  \
0   Mazariegos Davis efeda813a3a64eee9d5ba6cb29949ed7  CREDIT_CARD_PAYMENT
1                                  d5befb54e5e44a2aaa  CREDIT_CARD_PAYMENT
2                                  5b55f00af9814aaba6  CREDIT_CARD_PAYMENT
3       Nelson David 2fc5768b39214beb9c981a74f6145246  CREDIT_CARD_PAYMENT
4    Garrity Patrick f443b87c19194664b2d32929f7dd82db  CREDIT_CARD_PAYMENT
5     Hendricks Matt 104ac7f39e504873830072392669192c  CREDIT_CARD_PAYMENT
6     Zimbler Daniel 67d7a436a0474aad98f5661347b6da52  CREDIT_CARD_PAYMENT
7      Morris Andrew afb61b12cb4247ba9a76160d4eaf752a  CREDIT_CARD_PAYMENT
8   RolfesNagle Joseph 6a11ecbab3f641f59e45c8cffbd...  CREDIT_CARD_PAYMENT
9   RolfesNagle Joseph 181a2a306de140cea3dcee269e3...  CREDIT_CARD_PAYMENT
10      Brown Chiane ddde327d2e224fb3a82a463d14134d4f  CREDIT_CARD_PAYMENT
11      Brown Chiane a053df97e3a542819d60cf4fc45acbca  CREDIT_CARD_PAYMENT
12     Allen Chelsea dd29eae263274d4e91711a8e4b5bfe86  CREDIT_CARD_PAYMENT
13  Spisich Margaret b06cfe4914da47f5931eb807ab4a7c68  CREDIT_CARD_PAYMENT
14                                 b30eb0306b0d404e95  CREDIT_CARD_PAYMENT
15    Brotzman Dylan 52c939f61fed49808b4b1036037ae343  CREDIT_CARD_PAYMENT
16                                 d0d9e76999ba4ac891  CREDIT_CARD_PAYMENT
17  Schroeder Laurel 9939b69a679f4c7185e76117ebe9b8f9  CREDIT_CARD_PAYMENT
18  Bernardi Michael 9e8fa5e7e86642abac2c7ab57f2a1596  CREDIT_CARD_PAYMENT
19     Ferretti Alex 73bf1cef3e7b4a678bc7c6889c309925  CREDIT_CARD_PAYMENT

    transactionAmount  transactionCardLogo  rolling_sum  transaction_count  \
0               80.40       14000000000234        80.40                1.0
1               89.00       14000000000234       169.40                2.0
2               86.00       14000000000255       255.40                3.0
3               64.80       14000000000255       320.20                4.0
4                6.00       14000000000234       326.20                5.0
5               86.00       14000000000255       412.20                6.0
6               80.20       14000000000234       492.40                7.0
7              177.80       14000000000234       670.20                8.0
8              382.61       14000000000234      1052.81                9.0
9              294.39       14000000000234      1347.20               10.0
10              20.00       14000000000234      1367.20               11.0
11              20.00       14000000000234      1387.20               12.0
12              59.50       14000000000234      1446.70               13.0
13             209.60       14000000000234      1656.30               14.0
14              99.20       14000000000255      1755.50               15.0
15             245.40       14000000000255      2000.90               16.0
16              58.00       14000000000255      2058.90               17.0
17             123.00       14000000000234      2181.90               18.0
18             300.05       14000000000234      2481.95               19.0
19              11.80       14000000000234      2493.75               20.0

      event Card Type
0   payment   unknown
1   payment   unknown
2   payment   unknown
3   payment   unknown
4   payment   unknown
5   payment   unknown
6   payment      visa
7   payment   unknown
8   payment      visa
9   payment      visa
10  payment   unknown
11  payment   unknown
12  payment      visa
13  payment      visa
14  payment   unknown
15  payment   unknown
16  payment   unknown
17  payment      visa
18  payment   unknown
19  payment   unknown

In [145]:
transformed_data['integrated_payments'] = df_t.copy()
transformed_data['integrated_payments'].to_csv(f"{output_dir}/transformed_integrated_payments.csv", index=False)

Transformations for Outstanding Claims
    <br>- ~~Subscriber DoB > 20 years from Guarantor DoB~~
	<br>- Everything by Insurer
	<br>- ~~Parse and consolidate group plan name~~
	<br>- Balance - Estimate?
	<br>- ~~Flag for student plans~~
	<br>- ~~- patient DoB vs subscriber DoB~~
	<br>- Aggregate insurance carriers that are state-specific
	<br>- - Blue Cross Blue Shield
	<br>- - Delta Dental

In [109]:
df_t = dataframes['outstanding_claims'].copy()

df_t['student'] = df_t['student'] = (df_t['subscriber.firstName'] != df_t['patient.firstName']) & \
                  (pd.to_datetime(df_t['subscriber.dateOfBirth']) > pd.to_datetime(df_t['patient.dateOfBirth']) + pd.DateOffset(years=18))

df_t['student'] = df_t['student'].replace({True: 'Student', False: 'Non-Student'})

df_t.student.value_counts()

student
Non-Student    107
Name: count, dtype: int64

In [110]:
df_t = dataframes['outstanding_claims'].copy()

In [111]:
transformed_data['outstanding_claims'] = df_t.copy()

Transformations for Patient Details
	<br>- ~~Calculate Patient Lifespan~~
	<br>- - ~~Today - First Visit and Active~~
	<br>- - ~~Last Visit - First Visit~~
	<br>- - ~~Next Appointment Date - First Visit~~
	<br>- ~~Aggregate insurance carriers that are state-specific~~
	<br>- ~~Year of Birth~~
	<br>- ~~Month of Birth~~
	<br>- ~~Last Visit != Last Procedure~~
	<br>- ~~Remove test patients~~
	<br>- ~~View uppercase and lowercase patients, empty values~~
	<br>- ~~Patient != Guarantor~~
	<br>- - ~~Flag for student plans~~
	<br>- Parse and aggregate plans
	<br>- - Awaiting client response
	<br>- ~~Drop "685806 - " from Pat. Prim. Fee Schedule and Discount Plan~~
	<br>- Parse address
	<br>- ~~Group dates to month~~
	<br>- ~~Flag who hasn't been in 6 months~~
	<br>- ~~Flag for hasNextAppointment~~
	<br>- - ~~and isn't in the past~~
	<br>- Flag for Medicare/Medicaid

In [147]:
df_t = dataframes['patient_list'].copy()

In [148]:
# Filter rows where Patient is all uppercase or all lowercase
uppercase_patients = df_t[df_t['Patient'].str.isupper()]
lowercase_patients = df_t[df_t['Patient'].str.islower()]

# Combine the results
filtered_patients = pd.concat([uppercase_patients, lowercase_patients])

print(filtered_patients)
# Isolate patients with "test" in the name or three or more repeated letters
test_patients = df_t[df_t['Patient'].str.lower().str.contains(r'test', case=False, regex=True)]
repeated_letter_patients = df_t[df_t['Patient'].str.contains(r'(.)\1{2,}', case=False, regex=True)]

# Combine the results
patients_to_drop = pd.concat([test_patients, repeated_letter_patients]).drop_duplicates()

print(patients_to_drop)

# Drop the isolated patients from the original dataframe
df_t = df_t[~df_t.index.isin(patients_to_drop.index)]

                                Patient                  Primary Guarantor  \
156                     BRESEMAN, GRACE                    BRESEMAN, GRACE
573                GERSHEVICH, VALERIYA               GERSHEVICH, VALERIYA
996                    LUMSDEN, RICHARD                   LUMSDEN, RICHARD
1397                    ROMEU, ANGELICA                    ROMEU, ANGELICA
1753                WEHMEIER, CHARLOTTE                WEHMEIER, CHARLOTTE
242                            cccc, cc                           cccc, cc
631                         hall, sasha                        hall, sasha
1644  the return of the test, testy two  the return of the test, testy two
1836                     zwick, emanuel                      Zwick, Qinnan

                        Primary Contact               Last Name Chart Number  \
156                     BRESEMAN, GRACE                BRESEMAN          NaN
573                GERSHEVICH, VALERIYA              GERSHEVICH      VG5199T
996                    LUMSDEN, RICHARD                 LUMSDEN          NaN
1397                    ROMEU, ANGELICA                   ROMEU          NaN
1753                WEHMEIER, CHARLOTTE                WEHMEIER          NaN
242                            cccc, cc                    cccc          NaN
631                         hall, sasha                    hall          NaN
1644  the return of the test, testy two  the return of the test          NaN
1836                      Zwick, Qinnan                   zwick          NaN

      Ascend Patient ID Date Of Birth           Phone  \
156      14000008573639    06/29/1996  (847) 494-4011
573      14000002726090    05/08/1991  (312) 208-1252
996      14000008229521    05/11/1971  (773) 837-4080
1397     14000008020518    07/23/1994  (315) 289-8092
1753     14000008170347    10/10/1991  (708) 710-4400
242      14000008215708    01/01/1995             NaN
631      14000002636967    04/20/1996             NaN
1644     14000002286686    01/01/1900             NaN
1836     14000002286438    09/22/1982             NaN

                           Email  \
156      gracebreseman@yahoo.com
573       lgershevich@icloud.com
996        rlumsden428@gmail.com
1397  angelica.m.romeu@gmail.com
1753       cawehmeier7@gmail.com
242                          NaN
631                          NaN
1644                         NaN
1836                         NaN

                                                Address  ...  First Visit  \
156        1830 W Wilson Ave Apt #6, Chicago, IL, 60640  ...   11/25/2024
573                 5713 W Giddings, Chicago, IL, 60630  ...   03/29/2022
996                2450 W Hutchinson, Chicag, IL, 60640  ...          NaN
1397      419 Lincoln Ave, Apt 2, Portsmouth, NH, 03801  ...   05/27/2024
1753     3935 N Janssen Ave, Apt 2E, Chicago, ID, 60613  ...   07/26/2024
242                                   ccc, c, AL, 66666  ...          NaN
631           1925 belle plaine, 1A, CHICAGO, IL, 60613  ...          NaN
1644                           None, Chicago, IL, 00000  ...   11/16/2021
1836  4015 N Milwaukee Ave, Unit 306, Chicago, IL, 6...  ...   11/16/2021

      Last Visit Last Procedure Date Next Appointment Date Discount Plan  \
156   11/25/2024          11/25/2024                   NaN           NaN
573   03/28/2023          03/28/2023                   NaN           NaN
996          NaN                 NaN                   NaN           NaN
1397  05/27/2024          05/27/2024                   NaN           NaN
1753  10/24/2024          10/24/2024            02/06/2025           NaN
242          NaN                 NaN                   NaN           NaN
631          NaN                 NaN                   NaN           NaN
1644         NaN                 NaN                   NaN           NaN
1836  08/30/2022          08/30/2022                   NaN           NaN

                         Pat. Prim. Fee Schedule  \
156   685806 - Careington Care Platinum PPO 2025
573                                          NaN
996                                          NaN
1397               685806 - Delta Dental Premier
1753  685806 - Careington Care Platinum PPO 2025
242                                          NaN
631                                          NaN
1644                                         NaN
1836  685806 - Careington Care Platinum PPO 2025

                      Pat. Prim. Carrier  \
156                               Humana
573                                  NaN
996                                  NaN
1397       Delta Dental of New Hampshire
1753  Blue Cross Blue Shield of Illinois
242                                  NaN
631                                  NaN
1644                                 NaN
1836                             MetLife

                                        Pat. Prim. Plan Prim. Subscriber ID  \
156                             H1X CHICAGO IL 005- DCS         12169464901
573                                                 NaN                 NaN
996                                                 NaN                 NaN
1397  CMG CIT ACQUISITION LLC DBA COREMEDICAL GROUP-...      33000048718236
1753                                 BLUECARE DENTAL 1A           921526792
242                                                 NaN                 NaN
631                                                 NaN                 NaN
1644                                                NaN                 NaN
1836                                      Bank of China           734640929

           merge_key
156   14000008573639
573   14000002726090
996   14000008229521
1397  14000008020518
1753  14000008170347
242   14000008215708
631   14000002636967
1644  14000002286686
1836  14000002286438

[9 rows x 22 columns]
                                Patient                  Primary Guarantor  \
1080                McTestFace, Testy M                McTestFace, Testy M
1641                         Test, Test                         Test, Test
1644  the return of the test, testy two  the return of the test, testy two
242                            cccc, cc                           cccc, cc

                        Primary Contact               Last Name Chart Number  \
1080                McTestFace, Testy M              McTestFace          NaN
1641                         Test, Test                    Test          NaN
1644  the return of the test, testy two  the return of the test          NaN
242                            cccc, cc                    cccc          NaN

      Ascend Patient ID Date Of Birth           Phone  \
1080     14000002286660    10/26/2000  (872) 806-6408
1641     14000002286500    07/29/1985             NaN
1644     14000002286686    01/01/1900             NaN
242      14000008215708    01/01/1995             NaN

                               Email                   Address  ...  \
1080  frontdesk@juniperdentistry.com  None, Chicago, IL, 00000  ...
1641      dr.jessicarhodes@gmail.com  None, Calgary, AL, 60601  ...
1644                             NaN  None, Chicago, IL, 00000  ...
242                              NaN         ccc, c, AL, 66666  ...

      First Visit  Last Visit Last Procedure Date Next Appointment Date  \
1080   09/02/2020  09/24/2021                 NaN                   NaN
1641   07/16/2020         NaN                 NaN                   NaN
1644   11/16/2021         NaN                 NaN                   NaN
242           NaN         NaN                 NaN                   NaN

     Discount Plan                     Pat. Prim. Fee Schedule  \
1080           NaN                                         NaN
1641           NaN  685806 - Careington Care Platinum PPO 2025
1644           NaN                                         NaN
242            NaN                                         NaN

                      Pat. Prim. Carrier      Pat. Prim. Plan  \
1080                                 NaN                  NaN
1641  Blue Cross Blue Shield of Illinois  THE ODP CORPORATION
1644                                 NaN                  NaN
242                                  NaN                  NaN

     Prim. Subscriber ID       merge_key
1080                 NaN  14000002286660
1641                6546  14000002286500
1644                 NaN  14000002286686
242                  NaN  14000008215708

[4 rows x 22 columns]

C:\Users\Admin\AppData\Local\Temp\ipykernel_5904\1943822038.py:11: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  repeated_letter_patients = df_t[df_t['Patient'].str.contains(r'(.)\1{2,}', case=False, regex=True)]

In [149]:
df_t['patientAge'] = (pd.to_datetime('today') - pd.to_datetime(df_t['Date Of Birth'])).dt.days // 365.25
df_t['student'] = (df_t['Patient'] != df_t['Primary Guarantor']) & (df_t['patientAge'] < 25)

df_t['student'] = df_t['student'].replace({True: 'Student', False: 'Non-Student'})

df_t.student.value_counts()

student
Non-Student    1806
Student          28
Name: count, dtype: int64

In [150]:
# Ensure the date columns are in datetime format
df_t['First Visit'] = pd.to_datetime(df_t['First Visit'])
df_t['Last Visit'] = pd.to_datetime(df_t['Last Visit'])
df_t['Next Appointment Date'] = pd.to_datetime(df_t['Next Appointment Date'])
df_t['Last Procedure Date'] = pd.to_datetime(df_t['Last Procedure Date'])

# Calculate the patient lifespan
df_t['Lifespan (Today - First Visit)'] = (pd.to_datetime('today') - df_t['First Visit']).dt.days
df_t['Lifespan (Last Visit - First Visit)'] = (df_t['Last Visit'] - df_t['First Visit']).dt.days
df_t['Lifespan (Next Appointment Date - First Visit)'] = (df_t['Next Appointment Date'] - df_t['First Visit']).dt.days

df_t['Time Since Last Visit'] = (pd.to_datetime('today') - df_t['Last Visit']).dt.days
df_t['Visit and Procedure Mismatch'] = df_t['Last Visit'] != df_t['Last Procedure Date']

df_t['hasNextAppointment'] = df_t['Next Appointment Date'].notnull() & (df_t['Next Appointment Date'] > pd.to_datetime('today'))
df_t['overdue'] = (df_t['Time Since Last Visit'] > 183) & (df_t['hasNextAppointment'] == False)

print(df_t[['First Visit', 'Last Visit', 'Last Procedure Date', 'Next Appointment Date', 'Lifespan (Today - First Visit)', 'Lifespan (Last Visit - First Visit)', 'Lifespan (Next Appointment Date - First Visit)', 'Time Since Last Visit',
            'Visit and Procedure Mismatch', 'hasNextAppointment', 'overdue']].head())

  First Visit Last Visit Last Procedure Date Next Appointment Date  \
0  2024-06-27 2024-07-26          2024-07-26            2025-01-31
1  2024-12-09 2025-01-10          2025-01-10            2025-05-09
2         NaT        NaT                 NaT                   NaT
3  2022-03-24 2024-11-25          2023-12-18                   NaT
4  2023-02-21 2024-11-04          2024-11-04            2025-04-22

   Lifespan (Today - First Visit)  Lifespan (Last Visit - First Visit)  \
0                           215.0                                 29.0
1                            50.0                                 32.0
2                             NaN                                  NaN
3                          1041.0                                977.0
4                           707.0                                622.0

   Lifespan (Next Appointment Date - First Visit)  Time Since Last Visit  \
0                                           218.0                  186.0
1                                           151.0                   18.0
2                                             NaN                    NaN
3                                             NaN                   64.0
4                                           791.0                   85.0

   Visit and Procedure Mismatch  hasNextAppointment  overdue
0                         False                True    False
1                         False                True    False
2                          True               False    False
3                          True               False    False
4                         False                True    False

In [151]:
df_t['Pat. Prim. Fee Schedule'] = df_t['Pat. Prim. Fee Schedule'].str.replace('685806 - ', '')
df_t['Discount Plan'] = df_t['Discount Plan'].str.replace('685806 - ', '')

print(df_t[['Pat. Prim. Fee Schedule', 'Discount Plan']].head())

             Pat. Prim. Fee Schedule Discount Plan
0                                NaN           NaN
1  Careington Care Platinum PPO 2025           NaN
2                                NaN           NaN
3  Careington Care Platinum PPO 2025           NaN
4               Delta Dental Premier           NaN

In [152]:
# Define a function to clean the carrier names
def clean_carrier_name(carrier):
    if pd.isnull(carrier):
        return carrier
    if isinstance(carrier, str):
        if "Blue Cross Blue Shield" in carrier:
            return "Blue Cross Blue Shield"
        elif "Delta Dental" in carrier:
            return "Delta Dental"
        else:
            return re.sub(r' of \w+', '', carrier)
    return carrier

# Extract state information
def extract_state(carrier):
    if pd.isnull(carrier):
        return carrier
    if isinstance(carrier, str):
        match = re.search(r' of (\w+)', carrier)
        return match.group(1) if match else None
    return carrier

# Apply the function to create a new column
df_t['Affiliate State'] = df_t['Pat. Prim. Carrier'].apply(extract_state)

# Apply the function to create a new column
df_t['Cleaned Carrier'] = df_t['Pat. Prim. Carrier'].apply(clean_carrier_name)

print(df_t[['Pat. Prim. Carrier', 'Cleaned Carrier', 'Affiliate State']].head(20))

                    Pat. Prim. Carrier           Cleaned Carrier  \
0                                  NaN                       NaN
1   Blue Cross Blue Shield of Illinois    Blue Cross Blue Shield
2                                  NaN                       NaN
3   Blue Cross Blue Shield of Illinois    Blue Cross Blue Shield
4           Delta Dental of California              Delta Dental
5             United Healthcare Dental  United Healthcare Dental
6             United Healthcare Dental  United Healthcare Dental
7                              MetLife                   MetLife
8               Delta Dental of Kansas              Delta Dental
9                              MetLife                   MetLife
10                 CIGNA Global Health       CIGNA Global Health
11            Delta Dental of Illinois              Delta Dental
12                               Aetna                     Aetna
13  Blue Cross Blue Shield of Illinois    Blue Cross Blue Shield
14                             MetLife                   MetLife
15                 CIGNA Global Health       CIGNA Global Health
16                                 NaN                       NaN
17  Blue Cross Blue Shield of Illinois    Blue Cross Blue Shield
18                                 NaN                       NaN
19            United Healthcare Dental  United Healthcare Dental

   Affiliate State
0              NaN
1         Illinois
2              NaN
3         Illinois
4       California
5             None
6             None
7             None
8           Kansas
9             None
10            None
11        Illinois
12            None
13        Illinois
14            None
15            None
16             NaN
17        Illinois
18             NaN
19            None

In [21]:
#!pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in c:\users\admin\anaconda3\lib\site-packages (0.18.0)

In [21]:
from fuzzywuzzy import process, fuzz
import itertools

# Extract unique values from the 'Pat. Prim. Plan' column
plans = df_t['Pat. Prim. Plan'].dropna().unique()

# Calculate similarity scores for all pairs
similarity_scores = []
for plan1, plan2 in itertools.combinations(plans, 2):
    score = fuzz.ratio(plan1, plan2)
    similarity_scores.append((plan1, plan2, score))

# Sort the pairs by similarity score in descending order
similarity_scores.sort(key=lambda x: x[2], reverse=True)

# Convert similarity scores to a DataFrame
similarity_df = pd.DataFrame(similarity_scores, columns=['Plan 1', 'Plan 2', 'Similarity Score'])

# Save the DataFrame to a CSV file
similarity_df.to_csv("similarity_scores.csv", index=False)

c:\Users\Admin\anaconda3\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

KeyboardInterrupt:

In [118]:
df_t.head()

,Patient,Primary Guarantor,Primary Contact,Last Name,Chart Number,Ascend Patient ID,Date Of Birth,Phone,Email,Address,...,student,Lifespan (Today - First Visit),Lifespan (Last Visit - First Visit),Lifespan (Next Appointment Date - First Visit),Time Since Last Visit,Visit and Procedure Mismatch,hasNextAppointment,overdue,Affiliate State,Cleaned Carrier
0,"Abelmann, Anders","Abelmann, Anders","Abelmann, Anders",Abelmann,NaN,14000007592477,06/18/1980,(312) 804-6686,anders.abelmann@gmail.com,"2104 W Balmoral Ave, Chicago, IL, 60625",...,Non-Student,215.0,29.0,218.0,186.0,False,True,False,NaN,NaN
1,"Aberle, Kyle","Aberle, Kyle","Aberle, Kyle",Aberle,NaN,14000008693320,07/12/1985,(309) 838-0212,kyle.aberle@gmail.com,"1708 W Carmen Ave, Chicago, IL, 60640",...,Non-Student,50.0,32.0,151.0,18.0,False,True,False,Illinois,Blue Cross Blue Shield
2,"Abrahms, Rhonda","Abrahms, Rhonda","Abrahms, Rhonda",Abrahms,NaN,14000006720773,09/03/1956,NaN,NaN,"none, none, IL, 60640",...,Non-Student,NaN,NaN,NaN,NaN,True,False,False,NaN,NaN
3,"Abramowitz, Rebecca","Abramowitz, Rebecca","Abramowitz, Rebecca",Abramowitz,RA5143S,14000002734466,04/11/1981,(786) 975-7455,rebecca_abramowitz@yahoo.com,"4555 N Ravenswood, Unit 204, Chicago, IL, 60640",...,Non-Student,1041.0,977.0,NaN,64.0,True,False,False,Illinois,Blue Cross Blue Shield
4,"Abud, Kevin","Abud, Kevin","Abud, Kevin",Abud,KA5164K,14000006871467,04/14/1975,(312) 848-4142,kevinabud@gmail.com,"3042 W Wilson Ave, Chicago, IL, 60625",...,Non-Student,707.0,622.0,791.0,85.0,False,True,False,California,Delta Dental

In [154]:
# Process the address data
parsed_data = []

addresses = df_t['Address']

for address in addresses:
    parts = [p.strip() for p in address.split(",")]  # Split by comma and remove extra spaces
    
    # Handle different address structures dynamically
    street = parts[0] if len(parts) > 0 else ""
    apartment = parts[1] if len(parts) > 3 else ""  # If there's a second part but before city/state
    city = parts[-3].lower() if len(parts) > 2 else ""  # City is the third-to-last part
    state = parts[-2] if len(parts) > 1 else ""  # State is the second-to-last part
    zip_code = parts[-1] if len(parts) > 0 else ""  # ZIP is always last

    parsed_data.append({
        "Street": street,
        #"Apartment": apartment,
        "City": city,
        "State": state,
        "ZIP Code": zip_code
    })

# Convert to DataFrame for display
df_addresses = pd.DataFrame(parsed_data)

df_addresses.head(20)
# Add parsed columns back to the original dataframe
df_t = pd.concat([df_t.reset_index(drop=True), df_addresses.reset_index(drop=True)], axis=1)

In [155]:
df_t.head()

,Patient,Primary Guarantor,Primary Contact,Last Name,Chart Number,Ascend Patient ID,Date Of Birth,Phone,Email,Address,...,Time Since Last Visit,Visit and Procedure Mismatch,hasNextAppointment,overdue,Affiliate State,Cleaned Carrier,Street,City,State,ZIP Code
0,"Abelmann, Anders","Abelmann, Anders","Abelmann, Anders",Abelmann,NaN,14000007592477,06/18/1980,(312) 804-6686,anders.abelmann@gmail.com,"2104 W Balmoral Ave, Chicago, IL, 60625",...,186.0,False,True,False,NaN,NaN,2104 W Balmoral Ave,chicago,IL,60625
1,"Aberle, Kyle","Aberle, Kyle","Aberle, Kyle",Aberle,NaN,14000008693320,07/12/1985,(309) 838-0212,kyle.aberle@gmail.com,"1708 W Carmen Ave, Chicago, IL, 60640",...,18.0,False,True,False,Illinois,Blue Cross Blue Shield,1708 W Carmen Ave,chicago,IL,60640
2,"Abrahms, Rhonda","Abrahms, Rhonda","Abrahms, Rhonda",Abrahms,NaN,14000006720773,09/03/1956,NaN,NaN,"none, none, IL, 60640",...,NaN,True,False,False,NaN,NaN,none,none,IL,60640
3,"Abramowitz, Rebecca","Abramowitz, Rebecca","Abramowitz, Rebecca",Abramowitz,RA5143S,14000002734466,04/11/1981,(786) 975-7455,rebecca_abramowitz@yahoo.com,"4555 N Ravenswood, Unit 204, Chicago, IL, 60640",...,64.0,True,False,False,Illinois,Blue Cross Blue Shield,4555 N Ravenswood,chicago,IL,60640
4,"Abud, Kevin","Abud, Kevin","Abud, Kevin",Abud,KA5164K,14000006871467,04/14/1975,(312) 848-4142,kevinabud@gmail.com,"3042 W Wilson Ave, Chicago, IL, 60625",...,85.0,False,True,False,California,Delta Dental,3042 W Wilson Ave,chicago,IL,60625

In [156]:
transformed_data['patient_details'] = df_t.copy()
transformed_data['patient_details'].to_csv(f"{output_dir}/transformed_patient_details.csv", index=False)

Transformations for Processed Payments
	<br>- Break out and parse transaction types
	<br>- Parse Reference Number to pull out Aenta, DD, Cigna, etc
	<br>- Split dataset into Insurance, Patient, Office, etc
	<br>- Group by card type, insurance, 
	<br>- Amount by date
	<br>- Calculate differences between Not Available dates and other dates to get time to various metrics, like time to full payment
	<br>- Calculate running totals 
	<br>- Maybe make dataset that's more of as point-in-time option
	<br>- Flip negative and positive

In [122]:
df_t = dataframes['processed_payments'].copy()

Transformations for Statement Submissions
	<br>- Drop or flag negative balance
	<br>- Grouping by generatedFrom, source, statement type, month
	<br>- Balance over time total
	<br>- Balance over time - patient

In [123]:
df_t = dataframes['statement_submission'].copy()

In [124]:
transformed_data['statement_submission'] = df_t.copy()

Tranformations for Transaction Details
	<br>- Charge by Category
	<br>- Categorical Comparisons
	<br>- Charges by date
	<br>- Possibly split based on Category
	<br>- Flag for referrals based on Proc Code
	<br>- Group by substrings on Proc Description

In [125]:
df_t = dataframes['transaction_details'].copy()

In [126]:
transformed_data['transaction_details'] = df_t.copy()

Transformations for Treatment Tracker
	<br>- Add month grouping
	<br>- Remove test patients
	<br>- Remove canceled and/or invalidated (?)

In [127]:
df_t = dataframes['treatment_tracker'].copy()

Transformations for Unresolved Claims
	<br>- Plans by carrier grouping
	<br>- Parse StateId
	<br>- Group by: Carrier, Plan

In [128]:
df_t = dataframes['unresolved_claims'].copy()

In [135]:
transformed_data['patient_details'].dtypes

Patient                                                   object
Primary Guarantor                                         object
Primary Contact                                           object
Last Name                                                 object
Chart Number                                              object
Ascend Patient ID                                          int64
Date Of Birth                                             object
Phone                                                     object
Email                                                     object
Address                                                   object
Unnamed: 10                                              float64
Status                                                    object
First Visit                                       datetime64[ns]
Last Visit                                        datetime64[ns]
Last Procedure Date                               datetime64[ns]
Next Appointment Date                             datetime64[ns]
Discount Plan                                             object
Pat. Prim. Fee Schedule                                   object
Pat. Prim. Carrier                                        object
Pat. Prim. Plan                                           object
Prim. Subscriber ID                                       object
merge_key                                                 object
patientAge                                               float64
student                                                   object
Lifespan (Today - First Visit)                           float64
Lifespan (Last Visit - First Visit)                      float64
Lifespan (Next Appointment Date - First Visit)           float64
Time Since Last Visit                                    float64
Visit and Procedure Mismatch                                bool
hasNextAppointment                                          bool
overdue                                                     bool
Affiliate State                                           object
Cleaned Carrier                                           object
Street                                                    object
City                                                      object
State                                                     object
ZIP Code                                                  object
dtype: object

In [136]:
# Merge the data
transformed_data
merged_df = transformed_data['patient_details'].copy()
for key in transformed_data:
        if key in ['statement_submission', 'aged_AR']:
                print(key)
                merged_df = merged_df.merge(transformed_data[key], on='Ascend Patient ID', how='left')

aged_AR
statement_submission

In [137]:
merged_df.to_csv(f"{output_dir}/merged_data.csv", index=False)

In [157]:
merged_df.head

<bound method NDFrame.head of                    Patient     Primary Guarantor       Primary Contact  \
0         Abelmann, Anders      Abelmann, Anders      Abelmann, Anders
1             Aberle, Kyle          Aberle, Kyle          Aberle, Kyle
2          Abrahms, Rhonda       Abrahms, Rhonda       Abrahms, Rhonda
3      Abramowitz, Rebecca   Abramowitz, Rebecca   Abramowitz, Rebecca
4              Abud, Kevin           Abud, Kevin           Abud, Kevin
...                    ...                   ...                   ...
3736       Zimbler, Daniel       Zimbler, Daniel       Zimbler, Daniel
3737  Ziolkowski, Kimberly  Ziolkowski, Kimberly  Ziolkowski, Kimberly
3738  Ziolkowski, Kimberly  Ziolkowski, Kimberly  Ziolkowski, Kimberly
3739        zwick, emanuel         Zwick, Qinnan         Zwick, Qinnan
3740         Zwick, Qinnan         Zwick, Qinnan         Zwick, Qinnan

       Last Name Chart Number  Ascend Patient ID Date Of Birth  \
0       Abelmann          NaN     14000007592477    06/18/1980
1         Aberle          NaN     14000008693320    07/12/1985
2        Abrahms          NaN     14000006720773    09/03/1956
3     Abramowitz      RA5143S     14000002734466    04/11/1981
4           Abud      KA5164K     14000006871467    04/14/1975
...          ...          ...                ...           ...
3736     Zimbler      DZ5258P     14000007133433    04/11/1984
3737  Ziolkowski          NaN     14000008776267    05/04/1964
3738  Ziolkowski          NaN     14000008776267    05/04/1964
3739       zwick          NaN     14000002286438    09/22/1982
3740       Zwick          NaN     14000002593118    10/04/1985

               Phone                         Email  \
0     (312) 804-6686     anders.abelmann@gmail.com
1     (309) 838-0212         kyle.aberle@gmail.com
2                NaN                           NaN
3     (786) 975-7455  rebecca_abramowitz@yahoo.com
4     (312) 848-4142           kevinabud@gmail.com
...              ...                           ...
3736  (810) 908-4233            dzimbler@gmail.com
3737  (312) 758-5196       kimaziolkowski@gmal.com
3738  (312) 758-5196       kimaziolkowski@gmal.com
3739             NaN                           NaN
3740             NaN                           NaN

                                                Address  ...          id_y  \
0               2104 W Balmoral Ave, Chicago, IL, 60625  ...           NaN
1                 1708 W Carmen Ave, Chicago, IL, 60640  ...  1.400000e+13
2                                 none, none, IL, 60640  ...           NaN
3       4555 N Ravenswood, Unit 204, Chicago, IL, 60640  ...           NaN
4                 3042 W Wilson Ave, Chicago, IL, 60625  ...           NaN
...                                                 ...  ...           ...
3736            4502 N Dover Street, Chicago, IL, 60640  ...  1.400000e+13
3737                 4622 Hermitage, Chicago, IL, 60640  ...  1.400000e+13
3738                 4622 Hermitage, Chicago, IL, 60640  ...  1.400000e+13
3739  4015 N Milwaukee Ave, Unit 306, Chicago, IL, 6...  ...           NaN
3740  4015 N Milwaukee Ave, Unit 306, Chicago, IL, 6...  ...           NaN

          dateTime statementType         generatedFrom balance    patient.id  \
0              NaN           NaN                   NaN     NaN           NaN
1     1.736523e+12     GUARANTOR       PATIENT_WALKOUT   290.4  1.400001e+13
2              NaN           NaN                   NaN     NaN           NaN
3              NaN           NaN                   NaN     NaN           NaN
4              NaN           NaN                   NaN     NaN           NaN
...            ...           ...                   ...     ...           ...
3736  1.719357e+12     GUARANTOR  INDIVIDUAL_STATEMENT   863.0  1.400001e+13
3737  1.737644e+12     GUARANTOR  INDIVIDUAL_STATEMENT     0.0  1.400001e+13
3738  1.736524e+12     GUARANTOR    BILLING_STATEMENTS   661.0  1.400001e+13
3739           NaN           NaN                   NaN     NaN           NaN
3740           NaN           NaN                   NaN     NaN           NaN

     patient.firstName patient.lastName      source       merge_key
0                  NaN              NaN         NaN             NaN
1                 Kyle           Aberle  ELECTRONIC  14000008693320
2                  NaN              NaN         NaN             NaN
3                  NaN              NaN         NaN             NaN
4                  NaN              NaN         NaN             NaN
...                ...              ...         ...             ...
3736            Daniel          Zimbler       PRINT  14000007133433
3737          Kimberly       Ziolkowski  ELECTRONIC  14000008776267
3738          Kimberly       Ziolkowski  ELECTRONIC  14000008776267
3739               NaN              NaN         NaN             NaN
3740               NaN              NaN         NaN             NaN

[3741 rows x 82 columns]>